pillow
Flask
jsonschema
requests
azure-cognitiveservices-vision-customvision
Flask-API
api
azure-storage-blob
pypyodbc
python-dateutil
PyMuPDF
img2pdf
numpy
pandas
Flask-RESTful==0.3.7
azure-core==1.0.0
azureml-core==1.0.69
pickleshare==0.7.5
scikit-learn==0.21.3